.LearningRoute{
    /* padding-bottom: 100px; */
}
.guess-btn{
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    color: white;
    font-size: 15px;
    margin-right: 20px;
}
.guess-btn:hover{
    cursor: pointer;
     border-color: yellow;
     color: yellow;
    

   } 
.guess-btn:focus{
      border-color:yellow;
      color: yellow;
   } 

.next-word{
    color:white;
    font-size: 2em;
    font-weight: bold;
}
