.feedback-answer{
    font-size: 20px;
    color: yellow;
}
.following-word{
    color: white;
}
.next-btn{
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    color: white;
    font-size: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.next-btn{
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    color: white;
    font-size: 15px;
    margin-right: 20px;
}
.next-btn:hover{
    cursor: pointer;
     border-color: yellow;
     color: yellow;
    

   } 
.next-btn:focus{
      border-color:yellow;
      color: yellow;
   } 