.sign-up{
  text-align: center;
    width: 75px;
}
.registration-label-input{
   margin-bottom: 20px;
}
.registration-label-input > input{
    background-color: transparent;
    border: none;
    border-bottom: 4px dotted white;
    color: yellow;
    font-size: 20px;
}
.registration-form{
    color: white;
}
.registration-route{
    color: white;
}
.registration-alert{
    color: #ff0038;
}
.registration-btn{
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    color: white;
    font-size: 15px;
    margin-right: 20px;
}
.registration-btn:hover{
    cursor: pointer;
     border-color: yellow;
     color: yellow;
    

   } 
.registration-btn:focus{
      border-color:yellow;
      color: yellow;
   } 

