.App{
    margin: 15px;
   
   
}
main{
    height: 100%;
}

footer{
    text-align: center ;
    color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 0;
    padding-top: 180px;
    padding-bottom:0;
}
