.login-input-label{
 margin-bottom: 20px;  
 color: white;
}
.login-input-label > input{
    background-color: transparent;
    border: none;
    border-bottom: 4px dotted white;
    color: yellow;
    font-size: 15px;
}
.login-route{
    color: white;
}
.login-btn{
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    color: white;
    font-size: 15px;
}
.login-btn:hover{
    cursor: pointer;
     border-color: yellow;
     color: yellow;
    

   } 
.login-btn:focus{
      border-color:yellow;
      color: yellow;
   } 